* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202632;
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 2px solid #4affa9;
  z-index: 1002;
  background-color: #202632;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #4affa9;
}

.page-name {
  font-size: 24px;
  color: #4affa9;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
}

.page-number {
  font-size: 18px;
  color: #4affa9;
  font-weight: 600;
}

.menu-content {
  position: fixed;
  top: 69px;
  left: -100%;
  width: 25%;
  height: 100vh;
  background-color: #202632;
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow: auto;
  padding: 20px;
  text-align: left;
}

.menu-content.show {
  transform: translateX(0);
  left: 15px;
}

.link {
  display: block;
  padding: 10px;
  color: #e1f0fa;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #4affa9;
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
}

.link:active {
  color: #e1f0fa;
}

.link.active {
  color: #4affa9;
  font-weight: bold;
}

.advice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 20px 0;
}

.advice-box {
  background-color: #313a49;
  padding: 30px;
  width: 60vw;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.advice-number {
  color: #54b493;
  letter-spacing: 3px;
  font-size: 18px;
  margin-bottom: 40px;
}

.advice-text {
  color: #e1f0fa;
  font-weight: 800;
  font-size: 24px;
  margin: 20px 0;
}

/* Pattern Divider */
.pattern-divider {
  margin-top: 80px;
  margin-bottom: 45px;
  left: 10px;
  right: 10px;
  width: 100%;
  max-width: 100%;
}

/* Desktop Divider */
.pattern-divider-desktop {
  display: none;
}

/* Mobile Divider */
.pattern-divider-mobile {
  display: block;
}

.icon-dice {
  width: 60px;
  height: 60px;
  color: black;
  background-color: #4affa9;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.icon-dice img {
  max-width: 100%;
  max-height: 100%;
}

.icon-dice:hover {
  box-shadow: 0 0 10px #4affa9, 0 0 20px #4affa9, 0 0 30px #4affa9;
}

@media (min-width: 601px) {
  /* Show desktop divider on larger screens */
  .pattern-divider-desktop {
    display: block;
  }

  .pattern-divider-mobile {
    display: none;
  }

  .icon-dice img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 600px) {
  .advice-box {
    width: 280px;
    padding: 20px;
  }

  .advice-number {
    font-size: 11px;
  }

  .advice-text {
    font-size: 17px;
  }

  .icon-dice {
    width: 30px;
    height: 30px;
    padding: 8px;
  }

  .icon-dice img {
    width: 15px;
    height: 15px;
  }

  .menu-content {
    width: 40%;
  }
}
